Good Morning All,

This weekday feature is for Juicers who are are on the road, traveling, or just want to share a little bit of their world via stories and pictures. So many of us rise each morning, eager for something beautiful, inspiring, amazing, subtle, of note, and our community delivers - a view into their world, whether they're far away or close to home - pictures with a story, with context, with meaning, sometimes just beauty. By concentrating travel updates and tips here, it's easier for all of us to keep up or find them later.

So please, speak up and share some of your adventures and travel news here, and submit your pictures using our speedy, secure form. &lt;- make a link, etc. -&gt; You can submit up to 7 pictures at a time, with an overall description and one for each picture.

You can, of course, <a href="mailto:picstopost@balloon-juice.com?subject=Picture to Post on Balloon Juice&amp;body=Where it was taken: When: Commenter nym: Other notes or info about the picture:">send an email</a> with pictures if the form gives you trouble, or if you are trying to submit something special, like a zipped archive or a movie. If your pictures are already hosted online, then please email the links with your descriptions.

For each picture, it's best to provide your commenter nym, description, where it was taken, and date. It's tough to keep everyone's email address and nym straight, so don't assume that I remember it "from last time". More and more, the first photo before the fold will be from a commenter, so making it easy to locate the nym when I've found a compelling photo is crucial.

Have a wonderful day, and enjoy the pictures!

&nbsp;

<!--more-->

Today, pictures from valued commenter {{ submission.nym }}.

{% for picture, result in upload_results %}
<blockquote>{% if loop.index == 1 %}{{ submission.introduction }}{% endif %}

    {% if picture.date_taken %}
        Taken on {{ picture.date_taken }}
    {% endif %}

    {% if picture.place_taken %}
        {{ picture.place_taken }}
    {% endif %}

    {% if picture.picture_description %}
        {{ picture.picture_description }}
    {% endif %}
</blockquote>

    {{ result.description.rendered }}

{% endfor %}

&nbsp;

Thank you so much {{ submission.nym }}, do send us more when you can.

&nbsp;

Travel safely everybody, and do share some stories in the comments, even if you're joining the conversation late. Many folks confide that they go back and read old threads, one reason these are available on the Quick Links menu.

&nbsp;

One again, to submit pictures: Use the Form &lt;- make a link, etc. -&gt; or  <a href="mailto:picstopost@balloon-juice.com?subject=Picture to Post on Balloon Juice&amp;body=Where it was taken: When: Commenter nym: Other notes or info about the picture:">Send an Email</a>
