{% macro render_field(field, class=None) %}
    {{ field.label }}: <br/>{% if class %}{{ field(class_=class) }}{% else %}{{ field }}{% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_textarea_field(field, rows, cols, class=None) %}
    {{ field.label }}: <br/>{% if class %}{{ field(rows=rows, cols=cols, class_=class) }}{% else %}{{ field(rows=rows, cols=cols, class_=class) }}{% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% extends "base.html" %}
{% block title %}Submit pictures for On The Road!{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block jumbotron %}
<h1 class="display-4">Submit pictures for On The Road!</h1>
    <p class="lead">Use this form to submit up to 7 pictures for the On the Road feature. You will need to submit your screenname and the email address that you use to comment. These will be used for verification, but only your screenname will be used in the post. Optional fields are so-marked.</p>

    <p class="lead">Should you have more than 7 pictures to submit, a zip archive, a movie, one or more links for pictures hosted online, or if you are a reader but not a commenter and so fail verification, feel free to <a href="mailto:picstopost@balloon-juice.com?subject=Picture to Post on Balloon Juice&body=For each picture, please supply: Where it was taken: When: Commenter nym: Other notes or info about the picture:">email them.</a></p>
 
    <p class="lead">Since this form is new, we are actively looking for feedback, so please let us know what you like and don't like about this form.</p>
 
    <p class="lead">Thanks!</p>
{% if config.LOCAL == False and form.recaptcha.errors %}
    <p class="lead" style="color: red;">Please fill out the reCAPTCHA box at the end to confirm that you're human. You may need to supply your image files again too.</p>
{% endif %}
{% endblock %}

{% block content %}
<div class="row"><div class="col-sm-8">
    <form id="submissionForm" method="POST" enctype="multipart/form-data" action="{{ url_for('submit_on_the_road') }}">
        {{ form.csrf_token }}
        {{ render_field(form.nym, class="form-control col-sm-2") }}<br/>
        {{ render_field(form.email, class="form-control") }}<br/>
        {{ render_textarea_field(form.introduction, 8, 60, class="form-control") }}<br/>
            {% for picture_form in form.pictures %}
            <dl class="picture-form">
                <div class="card row">
                    <dt class="card-header">Picture {{ loop.index }}</dt>
                    <div class="card-block">
                        <dd>
                            {{ render_field(picture_form.upload, class="form-control picture-upload-input") }}
                            <img src="" class="picture-form-preview" style="width: 200px;">
                        </dd>
                        <dd>{{ render_field(picture_form.title, class="form-control") }}</dd>
                        <dd>{{ render_textarea_field(picture_form.picture_description, 4, 50, class="form-control") }}</dd>
                        <dd>{{ picture_form.date_taken.label }}{{ picture_form.date_taken(class='dtpick form-control') }}</dd>
                        <dd>{{ render_textarea_field(picture_form.place_taken, 3, 50, class="form-control") }}</dd>
                    </div>
                    </dt>
                    {% if loop.index != 1 %}
                    <button type="button" class="btn btn-sm btn-warning remove-picture">remove picture</button>
                    {% endif %}
                </div>
            </dl>
            {% endfor %}
        <button type="button" class="btn btn-sm btn-success" id="add-picture">Add another picture</button>
        {% if config.LOCAL == False %}
            {{ form.recaptcha }}
        {% endif %}
        <br/>
        <input type="submit" value="Submit" id="submitButton">
    </form>
</div></div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}


{% block scripts %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function() {
        $(".dtpick").datepicker();
        $('.picture-form').slice({{ slice_index }}).hide();
        $('#add-picture').click(function(){
            $('.picture-form:hidden').first().show();
            if ($('.picture-form:visible').length == $('.picture-form').length) {
                $('#add-picture').hide();
            }
        });
        $('.remove-picture').click(function(){
            parent = $(this).parent();
            parent.find('input, textarea').val('');
            parent.hide();
            if ($('.picture-form:visible').length < $('.picture-form').length) {
                $('#add-picture').show();
            }
        });
        $('#submissionForm').submit(function(){
            $('.picture-form:hidden').remove();
        });

        function manageFile(input) {
            if (input.files && input.files[0]) {
                if (input.files[0].size > ({{ config.MAX_CONTENT_MB }}*1024*1024)) {
                    alert("The file you have selected is too large, please select one smaller than " + {{ config.MAX_CONTENT_MB }} + "MB");
                    input.value = null;
                    $(input).next().attr('src', '#');
                    return;
                }
                var reader = new FileReader();
                reader.onload = function(e) {
                    $(input).next().attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".picture-upload-input").change(function(){
            manageFile(this);
        });
    });
</script>
{% endblock %}
