{% macro render_field(field) %}
    {{ field.label }} {{ field }}
{% endmacro %}

{% extends "base.html" %}
{% block title %}Submit pictures for On The Road!{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block jumbotron %}
<h1>Submit pictures for On The Road!</h1>
{% endblock %}

{% block content %}
<ul class="error-list" style="color: red;">
{% for field_name, field_errors in form.errors.items() if field_errors %}
    <li>{{ field_name }}: {{ field_errors }}</li>
{% endfor %}
</ul>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('submit') }}">
    {{ form.csrf_token }}
    <ul>
        <li>{{ render_field(form.nym) }}</li>
        <li>{{ render_field(form.email) }}</li>
        <li>{{ render_field(form.introduction) }}</li>
        {% for picture_form in form.pictures %}
            {{ render_field(picture_form.upload) }}
            {{ render_field(picture_form.title) }}
            {{ render_field(picture_form.picture_description) }}
            {{ picture_form.date_taken.label }}{{ picture_form.date_taken(class='dtpick') }}
        {% endfor %}
    </ul>
    {% if development == False %}
        {{ form.recaptcha }}
    {% endif %}
    <input type="submit" value="Submit">
</form>
{% endblock %}

{% block scripts %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $(function() {
        $( ".dtpick" ).datepicker();
    });
</script>
{% endblock %}
