{% macro render_field(field, class=None) %}
    {{ field.label }}: <br/>{% if class %}{{ field(class_=class) }}{% else %}{{ field }}{% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_textarea_field(field, rows, cols, class=None) %}
    {{ field.label }}: <br/>{% if class %}{{ field(rows=rows, cols=cols, class_=class) }}{% else %}{{ field(rows=rows, cols=cols, class_=class) }}{% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% extends "base.html" %}
{% block title %}Submit quotes for Balloon-Juice!{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block jumbotron %}
<h1 class="display-4">Submit quotes for Balloon-Juice!</h1>
    <p class="lead">Use this form to submit quote suggestions for the pie filter and rotating tagline. You will need to submit your screenname and the email address that you use to comment. These will be used for verification only and to prevent spam.</p>

    <p class="lead">If something goes wrong, go ahead and post the quote(s) on the blog instead. This is still a work in progress.</p>
 
    <p class="lead">Thanks!</p>
{% if config.LOCAL == False and form.recaptcha.errors %}
    <p class="lead" style="color: red;">Please fill out the reCAPTCHA box at the end to confirm that you're human. You may need to supply your quote again too.</p>
{% endif %}
{% endblock %}

{% block content %}
<div class="row"><div class="col-sm-8">
    <form id="submissionForm" method="POST" enctype="multipart/form-data" action="{{ url_for('submit_quote') }}">
        {{ form.csrf_token }}
        {{ render_field(form.nym, class="form-control col-sm-2") }}<br/>
        {{ render_field(form.email, class="form-control") }}<br/>
        {{ render_textarea_field(form.quote, 8, 60, class="form-control") }}<br/>
        {{ render_field(form.quote_type, class="form-control") }}<br/>
        {% if config.LOCAL == False %}
            {{ form.recaptcha }}
        {% endif %}
        <br/>
        <input type="submit" value="Submit" id="submitButton">
    </form>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
