{% macro render_field(field, class=None) %}
    {{ field.label }} {% if class %}{{ field(class_=class) }}{% else %}{{ field }}{% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% extends "base.html" %}
{% block title %}Submit pictures for On The Road!{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block jumbotron %}
<h1>Submit pictures for On The Road!</h1>
{% if config.LOCAL == False and form.recaptcha.errors %}
    <p style="color: red;">Please fill out the reCAPTCHA box at the end to confirm that you're human. You may need to supply your image files again too.</p>
{% endif %}
{% endblock %}

{% block content %}
<form id="submissionForm" method="POST" enctype="multipart/form-data" action="{{ url_for('submit') }}">
    {{ form.csrf_token }}
    <ul>
        <li>{{ render_field(form.nym) }}</li>
        <li>{{ render_field(form.email) }}</li>
        <li>{{ render_field(form.introduction) }}</li>
        {% for picture_form in form.pictures %}
        <li class="picture-form">
            <ul>
                <li>
                    {{ render_field(picture_form.upload, class="picture-upload-input") }}
                    <img src="" class="picture-form-preview" style="width: 200px;">
                </li>
                <li>{{ render_field(picture_form.title) }}</li>
                <li>{{ render_field(picture_form.picture_description) }}</li>
                <li>{{ picture_form.date_taken.label }}{{ picture_form.date_taken(class='dtpick') }}</li>
            </ul>
            {% if loop.index != 1 %}
            <button type="button" class="btn btn-sm btn-warning remove-picture">remove picture</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-sm btn-success" id="add-picture">Add another picture</button>
    {% if config.LOCAL == False %}
        {{ form.recaptcha }}
    {% endif %}
    <br/>
    <input type="submit" value="Submit" id="submitButton">
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}


{% block scripts %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $(function() {
        $(".dtpick").datepicker();
        $('.picture-form').slice({{ slice_index }}).hide();
        $('#add-picture').click(function(){
            $('.picture-form:hidden').first().show();
            if ($('.picture-form:visible').length == $('.picture-form').length) {
                $('#add-picture').hide();
            }
        });
        $('.remove-picture').click(function(){
            parent = $(this).parent();
            parent.find('input, textarea').val('');
            parent.hide();
            if ($('.picture-form:visible').length < $('.picture-form').length) {
                $('#add-picture').show();
            }
        });
        $('#submissionForm').submit(function(){
            $('.picture-form:hidden').remove();
        });

        function manageFile(input) {
            if (input.files && input.files[0]) {
                if (input.files[0].size > {{ config.MAX_CONTENT_LENGTH }}) {
                    alert("The file you have selected is too large, please select one smaller than " + {{ config.MAX_CONTENT_MB }} + "MB");
                    input.value = null;
                    $(input).next().attr('src', '#');
                    return;
                }
                var reader = new FileReader();
                reader.onload = function(e) {
                    $(input).next().attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".picture-upload-input").change(function(){
            manageFile(this);
        });
    });
</script>
{% endblock %}
