{% macro render_field(field) %}
    {{ field.label }} {{ field }}
    {% if field.errors %}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% extends "base.html" %}
{% block title %}Submit pictures for On The Road!{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block jumbotron %}
<h1>Submit pictures for On The Road!</h1>
{% if local == False and form.recaptcha.errors %}
    <p style="color: red;">Please fill out the reCAPTCHA box at the end to confirm that you're human. You may need to supply your image files again too.</p>
{% endif %}
{% endblock %}

{% block content %}
<form id="submissionForm" method="POST" enctype="multipart/form-data" action="{{ url_for('submit') }}">
    {{ form.csrf_token }}
    <ul>
        <li>{{ render_field(form.nym) }}</li>
        <li>{{ render_field(form.email) }}</li>
        <li>{{ render_field(form.introduction) }}</li>
        {% for picture_form in form.pictures %}
        <li class="picture-form">
            <ul>
                <li>{{ render_field(picture_form.upload) }}</li>
                <li>{{ render_field(picture_form.title) }}</li>
                <li>{{ render_field(picture_form.picture_description) }}</li>
                <li>{{ picture_form.date_taken.label }}{{ picture_form.date_taken(class='dtpick') }}</li>
            </ul>
            <button type="button" class="btn btn-sm btn-warning remove-picture">remove picture</a>
        </li>
        {% endfor %}
    </ul>
    {% if local == False %}
        {{ form.recaptcha }}
    {% endif %}
    <button type="button" class="btn btn-sm btn-success" id="add-picture">Add another picture</button>
    <br/>
    <input type="submit" value="Submit" id="submitButton">
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}


{% block scripts %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $(function() {
        $(".dtpick").datepicker();
        $('.picture-form').slice({{ slice_index }}).hide();
        $('#add-picture').click(function(){
            $('.picture-form:hidden').first().show();
            if ($('.picture-form:visible').length == $('.picture-form').length) {
                $('#add-picture').hide();
                alert("You can only submit up to five pictures.");
            }
        });
        $('.remove-picture').click(function(){
            $(this).parent().hide();
            if ($('.picture-form:visible').length < $('.picture-form').length) {
                $('#add-picture').show();
            }
        });
        $('#submissionForm').submit(function(){
            $('.picture-form:hidden').remove();
        });
    });
</script>
{% endblock %}
